<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyConexion3" connectionString="Server=localhost;Port=3306;Database=control_bodega_hardware;Uid=admin;Pwd=57706897" />
    <add name="MyConexion2" connectionString="Server=192.168.1.33;Port=3306;Database=control_bodega;Uid=bodega;Pwd=atc2018;SslMode=none" />
    <add name="MyConexion4" connectionString="Server=localhost;Port=3306;Database=control_bodega;Uid=admin;Pwd=57706897" />
    <add name="MyConexion" connectionString="Server=192.168.1.30;Port=3306;Database=control_bodega;Uid=atc;Pwd=123atc;SslMode=none"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
  </appSettings>
  <system.webServer>
    <modules>
      <add type="QueryStringModule" name="QueryStringModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="40"/>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule" />
    </httpModules>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
        <pages>
      <controls>      
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>